.app-header {
    background-color: #263238;
    height: 36px;
    padding: 8px 32px 8px 16px;
}

.home-title {
    color: #fff;
    font-size: 18px;
}

.login-card-style {
    top: '50%';
    left: '50%';
    right: 'auto';
    bottom: 'auto';
    margin-right: '-50%';
    transform: 'translate(-50%, -50%)';
    text-align: center;
}

.red {
    color: red;
}

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.search-box {
    background-color: #c0c0c0;
    border-radius: 4px;
    width: 300px;
    margin: 5px 5px 5px;
}

.avatar {
    float: right;
}